body{
    background-color:lightgray ;
    max-width: ;
    margin: 0px auto;
    padding: 0px;
}
main{
    width: 800px;
    background-color: white;
    margin: 0px auto;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: blue;
    
}
.navbar ul{
    list-style: none;
    float: right;
    display:flex;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
}
.navbar ul a{
    text-decoration: none;
    color: white ;
    margin: 10px;

}
.navbar img{
    width: 57px;
    height: 57px;
}
.player-title{
    color: blueviolet;
    margin-left: 20px;
    padding-top: 30px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.top-player{
    display: flex;
    margin-left: 20px;
}
.player{

}
.player img{
    width: 57px;
    height: 57px;
}
.player-name{
    margin-left: 20px;
}
hr{
    width: 90%;
    margin:30px;
    mar
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:center;
    align-items:center;
}
.top-blog{

}
.blog-img{
    width:177px;
    height:177px;
}
.blog-img img{
    width: 100%;
}
.latest-course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course-card{
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 252px;
    height: 270px;
    
}
.course-img{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
}
.course-img img{
    width: 90%;
    
}
.rating{
    color: gold;
}